%h2 Gratulujeme :)

%p
  Nyní po potvrzení e-mailu, který jsme Vám odeslali, Vám budou přicházet
  notifikace na nové události.

= link_to "Zpět na seznam mých oblastí", 'javascript:window.location.search="activeTab=notifications"', class: 'btn btn-success'
