- plain_text = @document.plain_text
- rendered_until_idx = 0
- sorted_snippets(@document).each do |ne_start, ne_end, address_block|
  - if ne_start > 0
    = h(plain_text[rendered_until_idx..(ne_start - 1)]).gsub(/\n/, '<BR>').html_safe

  - rendered_until_idx = ne_end

  - link_text = h(plain_text[ne_start..ne_end-1]).gsub(/\n/, '<BR>').html_safe

  - text = plain_text[ne_start..ne_end-1]
  - url_params = [@document, address_block]
  = link_to_if_address_cache text, url_params, address_block
= h(plain_text[rendered_until_idx..-1]).gsub(/\n/, '<BR>').html_safe
