%h1 Podmínky

%p
  %strong Provozovatelem
  portálu
  %a{href: root_url}= ENV['DOMAIN']
  je Lukáš Svoboda, IČ 1365321.
%p
  %strong Uživatelem
  je návštěvník internetových stránek na doméně
  =succeed '.' do
    %a{href: root_url}= ENV['DOMAIN']

%p
  Pokud se uživatel registruje, je to za účelem sledování dokumentů z
  elektronických úředních desek.

%p
  V případě, že uživatel najde na portálu
  %a{href: root_url}= ENV['DOMAIN']
  osobní údaje, které jsou zveřejněné v rozporu s platnými právními předpisy,
  upozorní na to provozovatele na e-mail kontak@mapasamospravy.cz a ten zjedná nápravu.

/ https://www.google.com/intl/cs_cz/help/terms_maps.html
/ https://www.google.com/intl/cs/policies/terms/
/ https://earth.google.com/intl/cs/licensepro.html

%h2 1. Uchovávání dat

%p
  Pro účely zkvalitnění služby můžeme používat software třetí strany na
  sledování chování uživatele. Poskytovatel i tyto služby mohou využívat
  cookies a ukládat data o chování uživatelů.

%p
  Používáme cookies a Google Analytics, ze sběru statistik se můžete vyřadit
  doplňkem vašeho prohlížeče.

%p
  Zveřejněné dokumenty jsou majetkem úřadů, které je vydaly a originály jsou
  dostupné na detailu dokumentů.

%p
  Data mohou být uchovávány u třetích stran a v cloudových službách a to i mimo
  Českou republiku a EU.

%h2 2. Přesnost prezentovaných údajů

%p Uživatel bere na vědomí že pezentované data mohou obsahovat chyby.
%p
  Přesnost rozpoznání jednotlivých nemovitostí závisí na kvalitě dokumentů,
  které jsou prezentovány na úřední desce. Portál negaratuje správnost
  prezentovaných údajů.  Zpravidla je kvalita ovlivněna:
  %ul
    %li
      Formátem dokumentu. Oskenovaný dokument ve formátu PDF je nutné znovu převést na text.
    %li
      Výrazovými schopnostmi v přirozeném jazyce. Pokud je forma zápisu příliš
      volná, např. není uvedeno katastrální území, označení nemovitosti nemusí
      být správně rozpoznáno.


%h2 3. Změny služeb a jejich ukončení

%p
  Služby neustále upravujeme a vylepšujeme. Můžeme průběžně přidávat či
  odebírat funkce a také můžeme pozastavit či ukončit celou službu.

%p
  Ačkoli nás to bude mrzet, používání našich služeb můžete kdykoli ukončit.
  Provozovatel vám také může poskytování služeb kdykoli pozastavit nebo
  vytvořit či přidat k službám nová omezení.

%h2 4. Naše záruky a odmítnutí odpovědnosti

%p
  Naše služby poskytujeme na úrovni znalostí a péče, které jsou přiměřené v
  daném obchodním odvětví, a doufáme, že je budete rádi používat. Určité
  skutečnosti však v souvislosti s našimi službami slíbit nemůžeme.

%p
  POSKYTOVATEL ANI JEJÍ DODAVATELÉ ČI DISTRIBUTOŘI NEUVÁDĚJÍ V SOUVISLOSTI SE
  SLUŽBAMI ŽÁDNÉ JINÉ KONKRÉTNÍ SLIBY NEŽ TY, KTERÉ JSOU VÝSLOVNĚ UVEDENY V
  TĚCHTO PODMÍNKÁCH NEBO V DODATEČNÝCH PODMÍNKÁCH. NAPŘÍKLAD SE V SOUVISLOSTI S
  OBSAHEM V RÁMCI SLUŽEB, S JEJICH KONKRÉTNÍMI FUNKCEMI, S JEJICH
  SPOLEHLIVOSTÍ, DOSTUPNOSTÍ ANI S JEJICH SCHOPNOSTÍ USPOKOJIT VAŠE POTŘEBY K
  NIČEMU NEZAVAZUJEME. SLUŽBY POSKYTUJEME „TAK, JAK JSOU“.

%p
  NĚKTERÉ PRÁVNÍ ŘÁDY POSKYTUJÍ URČITÉ ZÁRUKY, NAPŘÍKLAD ODVOZENÉ ZÁRUKY
  TÝKAJÍCÍ SE OBCHODOVATELNOSTI, VHODNOSTI K URČITÉMU ÚČELU A NEPORUŠOVÁNÍ
  PRÁV. V ROZSAHU, KTERÝ PRÁVNÍ PŘEDPISY UMOŽŇUJÍ, SE ZŘÍKÁME VEŠKERÝCH ZÁRUK

%h2 5. Odpovědnost za naše služby

%p
  POKUD TO PLATNÉ PRÁVNÍ PŘEDPISY UMOŽŇUJÍ, NEPONESE POSKYTOVATEL ANI JEJÍ
  DODAVATELÉ ČI DISTRIBUTOŘI ODPOVĚDNOST ZA UŠLÝ ZISK, ZTRÁTU TRŽEB, ZTRÁTU
  DAT, FINANČNÍ ZTRÁTY ANI ZA NEPŘÍMÉ, ZVLÁŠTNÍ, NÁSLEDNÉ ČI EXEMPLÁRNÍ ŠKODY
  NEBO ZA NÁHRADU ŠKODY SE SANKČNÍ FUNKCÍ.
%p
  V ROZSAHU, KTERÝ PRÁVNÍ PŘEDPISY UMOŽŇUJÍ, BUDE CELKOVÁ ODPOVĚDNOST
  POSKYTOVATELE A JEHO DODAVATELŮ A DISTRIBUTORŮ ZA JAKÝKOLI NÁROK VZNESENÝ NA
  ZÁKLADĚ TĚCHTO PODMÍNEK, VČETNĚ VEŠKERÝCH ZÁRUK VYPLÝVAJÍCÍCH ZE ZÁKONA,
  OMEZENA VÝŠÍ ČÁSTKY, KTEROU JSTE ZA POUŽITÍ SLUŽEB ZAPLATILI (NEBO NA
  OPĚTOVNÉ POSKYTOVÁNÍ SLUŽEB, POKUD SE PRO TUTO MOŽNOST ROZHODNEME).
%p
  VE VŠECH PŘÍPADECH PLATÍ, ŽE POSKYTOVATEL ANI JEHO DODAVATELÉ ČI
  DISTRIBUTOŘI NEPONESOU ODPOVĚDNOST ZA JAKÉKOLI ZTRÁTY ČI ŠKODY, KTERÉ NELZE
  PŘIMĚŘENÝM ZPŮSOBEM PŘEDVÍDAT.

%p
  VÝSLOVNĚ UZNÁVÁTE A SOUHLASÍTE S TÍM, ŽE:

  %br
  a) PORTÁL A JEHO SLUŽBY  POUŽÍVÁTE NA VLASTNÍ RIZIKO. SLUŽBY JE POSKYTOVÁNY
  „TAK, JAK JE“, BEZ ZÁRUKY JAKÉHOKOLI DRUHU. V NEJVĚTŠÍM MOŽNÉM ROZSAHU
  POVOLENÉM ZÁKONEM SE PROVOZOVATEL VÝSLOVNĚ ZŘÍKÁ VEŠKERÝCH ZÁRUK A
  PODMÍNEK JAKÉHOKOLI DRUHU, AŤ JIŽ VÝSLOVNĚ UVEDENÝCH NEBO PŘEDPOKLÁDANÝCH,
  VČETNĚ, MIMO JINÉ, PŘEDPOKLÁDANÝCH ZÁRUK A PODMÍNEK VZTAHUJÍCÍCH SE K
  OBCHODOVATELNOSTI, VHODNOSTI PRO DANÝ ÚČEL A NEDODRŽENÍ SMLOUVY.

  %br
  b) POSKYTOVATEL (I) NEZARUČUJE, ŽE PORTÁL A JEHO SLUŽBY SPLNÍ VAŠE POŽADAVKY,
  (II) ŽE PORTÁL A JEHO SLUŽBY NEBUDE OBSAHOVAT CHYBY, (III) NEPŘEBÍRÁ ŽÁDNOU
  ZÁRUKU STRAN ZABEZPEČENÍ, SPOLEHLIVOSTI, NAČASOVÁNÍ NEBO VÝKONU PORTÁL A JEHO
  SLUŽEB A NEZARUČUJE, (IV) ŽE JAKÉKOLI CHYBY PORTÁLU A JEHO SLUŽEB BUDOU
  OPRAVENY.

  %br
  c) ŽÁDNÉ ÚSTNÍ ANI PÍSEMNÉ INFORMACE NEBO DOPORUČENÍ, KTERÉ ZÍSKÁTE OD
  PROVOZOVATELE ČI JAKÉKOLI TŘETÍ STRANY NEBO PROSTŘEDNICTVÍM PORTÁLU,
  NEVYTVÁŘEJÍ NÁROK NA ŽÁDNOU ZÁRUKU, KTERÁ NENÍ VÝSLOVNĚ UVEDENA V TĚCHTO
  SMLUVNÍCH PODMÍNKÁCH.


%h2 6. Používání našich služeb firmami

%p
  Pokud služby používáte v zastoupení firmy, pak tato firma souhlasí s těmito
  podmínkami. Poskytovatele, jeho zástupce a zaměstnance ochráníte před a
  odškodníte za jakékoli nároky, soudní řízení a žaloby vyplývající nebo
  související s používáním služeb nebo porušením těchto smluvních podmínek
  včetně odpovědnosti a výdajů vzešlých z veškerých nároků, ztrát, náhrad škod,
  žalob, soudních řízení, rozsudků, výdajů za soudní řízení a nákladů na právní
  zastoupení.

%h2 7. Používání našich služeb ve státní správě

%p
  Používáte-li naše služby jménem některého subjektu státní správy, pak tento
  subjekt přijímá tyto podmínky. Výhradně v rozsahu povoleném platnými právními
  předpisy, nařízeními nebo výsadami a imunitami zbavuje tento subjekt
  provozovatele a spřízněné subjekty, zástupce a zaměstnance odpovědnosti a
  poskytne odškodnění v případě nároku, jednání nebo řízení vyplývajícího z
  používání služeb nebo porušení těchto smluvních podmínek, případně v jejich
  souvislosti, včetně odpovědnosti nebo nákladů vyplývajících z nároků, ztrát,
  poškození, soudních rozhodnutí, nákladů na soudní spory a právních poplatků.


%h2 8. Informace o těchto podmínkách

%p
  Tyto podmínky nebo jakékoli dodatečné podmínky týkající se určité služby
  můžeme příležitostně měnit, například z důvodu změn platných zákonů nebo změn
  našich služeb. Znění podmínek byste měli pravidelně kontrolovat. Zprávu o
  změnách podmínek zveřejníme na této stránce. Změny nebudou uplatňovány
  zpětně a nebudou nabývat účinnosti dříve než 14 dní po uveřejnění. Změny
  týkající se nových funkcí určité služby nebo změny provedené z právních
  důvodů však nabudou účinnosti okamžitě. Jestliže se změněnými podmínkami
  určité služby nesouhlasíte, měli byste službu přestat používat.

%p
  Jestliže dojde k rozporu mezi těmito podmínkami a dodatečnými podmínkami,
  budou v rozporných bodech platit dodatečné podmínky.

%p
  Tyto podmínky řídí smluvní vztah mezi vámi a provozovatelem. Neudělují
  práva žádným třetím stranám.

%p
  Jestliže tyto podmínky nebudete splňovat a my nebudeme okamžitě jednat,
  neznamená to, že bychom se vzdávali jakýchkoli práv, která nám případně
  náleží (jako například právo dále v budoucnu jednat).

%h2 9. Přetrvání smluvních podmínek

Podmínky uvedené v částech 4., 5., 6., 7. zůstávají
platné i po ukončení nebo vypršení platnosti těchto Smluvních podmínek.
