#zoom-spinner {
  top: 50%;
  border: 1px solid #eee;
  background: #fff none repeat scroll 0 0;
  margin: 10px 10px 0;
  width: 320px;
  padding: 20px;
  position: absolute;
  z-index: 1025;
}

.leaflet-popup-content {
  max-height : 450px;
  width: 500px;
  overflow : auto;

  .tooltip-inner {
    min-width: 450px;
  }

  span.document-title {
    font-weight: bold;
    white-space: nowrap;
  }

  .address {
    font-weight: bold;
  }

  dd {
    margin-left: 40px;
  }

}

#embed-logo {
  padding: 0 15px;
  font-size: 150%;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  position: absolute;
  top: 80%;
  right: 0%;
  background-color: #222;
}
#embed-logo a { text-decoration: none; color: #9d9d9d; }
#embed-logo a:hover { color: white }
