%h3.content-title Přejít na adresu
%form#placeForm{class: 'form-horizontal'}
  .form-group.string.optional
    .col-sm-12
      %input#placeAutocomplete.form-control.clear-button{type:'text', name: 'location', placeholder: 'zadejte adresu, např.: Grohova 8, Brno'}


- q = params[:q]
- if ( (params[:event_id] && params[:shape_id]) || (q && q[:source_id_eq] && q[:source_type_eq]) || (q && (q[:query].present? || q[:lau_id_eq].present?)))
  %br
  %strong Upozornění:
  Máte definovaný filtr, proto nevidíte všechny události.
  = link_to 'Zrušit filtr', map_path, class: 'btn btn-success btn-small'
