%h2.content-title Vyhledat adresu
%form#placeForm{class: 'form-horizontal'}
  .form-group.string.optional
    %label.string.optional.control-label.col-sm-3{for:"placeAutocomplete"}Hledat:
    .col-sm-9
      %input#placeAutocomplete.form-control{type:'text', name: 'location', placeholder: 'Grohova 8, Brno'}
