%form#placeForm{class: 'form-horizontal'}
  .form-group
    %label.col-sm-3{for:"placeAutocomplete"}Hledat:
    %input.col-sm-9#placeAutocomplete{type:'text', name: 'location', placeholder: 'Grohova 8, Brno'}
