- if current_or_guest_user.notifications.empty?
  %p
    Zadáním sledované oblasti budete informovéni prostrednictvím
    emailu o všech nových událostech v dané oblasti.
  %p
    Nemáte zatím žádné sledované oblasi.

  %button{class: 'btn btn-success btn-lg center-block'}Zadat oblast
- else
  = render 'notifications/_list'
