<%# add navigation links to this file %>
<li><%= link_to 'Mapa', map_path %></li>
<li><%= link_to 'Dokumenty', documents_path %></li>
<!-- <li>< %= link_to 'Územní  státní správa', local_administration_units_path %></li> -->
<li><%= link_to 'O projektu', about_path %></li>
<li class="spinner">
  <p class="navbar-text">
    <i class="fa fa-spinner fa-spin"></i> Načítám
  </p>
</li>

